.product-page {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .product-image img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-right: 20px;
  }
  
  .product-details {
    flex: 1;
    margin-left: 20px;
  }
  
  .product-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .product-rating-value {
    font-size: 24px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .product-rating-stars {
    font-size: 24px;
    color: #fadb14;
  }
  
  .product-rating-reviews {
    font-size: 16px;
    margin-left: 5px;
    color: #999999;
  }
  
  .product-availability {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-seller {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .product-seller-name {
    font-weight: bold;
  }
  
  .product-seller-rating {
    margin-left: 5px;
    
  
  
  }
  .buy-button {
    display: block;
    margin-top: 24px;
    padding: 12px 24px;
    border: none;
    border-radius: 2px;
    background-color: #ff9f00;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buy-button:hover {
    background-color: #ff8f00;
  }
  
  .buy-button:active {
    background-color: #ffbf00;
  }
  
  .buy-button:focus {
    outline: none;
    box-shadow: 0px 0px 4px 1px rgba(255, 159, 0, 0.4);
  }
  
  

  /* ------------- */
  .loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    font-weight: bold;
  }